
$default-font-family: 'Roboto', sans-serif;
$default-font-weight: 300;
$default-font-color: #333;
$default-font-size: 16px;

$form-control-error-text-font-size: 0.7rem;
$form-control-error-text-color: red;


/* BRANDING */
$brand-font-family: 'Passion One', sans-serif;
$brand-font-weight: 400;
