body {
    background: #fafafa;
}

.masthead {
    padding: 0.4rem;
    display: flex;

    //background: #4a5568;

    background: whitesmoke;

    .brand {
        flex: 1;


        a {
            text-decoration: none;
            color: inherit;

            &:visited { color: inherit; }
        }

        h1 {
            font-family: 'Passion One', serif;
            font-weight: 300;
        }


        font-weight: 300;
        color: #0b3056;
    }
}

nav.main {
    flex: 2;
    display: flex;

    align-items: center;

    ul{
        li {
            margin-right: 0.34rem;
            display: inline-block;

            &:first-of-type {
                margin-left: inherit;
            }
        }


    }

    a {
        font-size: 0.85rem;
        color: inherit;

        &:hover {
            text-decoration: underline;
            text-decoration-color: #fc575e;
        }

        &:visited {
            color: inherit;
        }
    }
}

.right {
    flex: 1;
    display: flex;
    text-align: right;

    justify-content: center;
    align-items: center;

    div {
        flex: 1;
        padding-right: 0.34rem;
    }
}

main {
    .title {
        padding: 0 0 1rem 0;
        font-size: 2rem;
        color: #fc575e;

        width: 100%;

        clear: both;

    }
    padding: 1rem;

    .content {
        display: flex;
        flex-direction: row;
    }


}
