@import "variables";

@import "partials/reset";
@import "partials/fonts";
@import "partials/typography";

@import "partials/forms";
@import "partials/tiles";

body {
    font-family: $default-font-family;
    font-weight: $default-font-weight;
    font-size: $default-font-size;
    color: $default-font-color;
}

.brand {
    font-family: $brand-font-family;
    font-weight: $brand-font-weight;
}

.inner {
    display: flex;

    align-items: center;
    justify-content: center;

    .col {
        margin-right: 30px;

        &:last-of-type {
            margin-right: initial;
        }
    }
}
