body {
  background: #fafafa;
}

.masthead {
  padding: 0.4rem;
  display: flex;
  background: whitesmoke;
}
.masthead .brand {
  flex: 1;
  font-weight: 300;
  color: #0b3056;
}
.masthead .brand a {
  text-decoration: none;
  color: inherit;
}
.masthead .brand a:visited {
  color: inherit;
}
.masthead .brand h1 {
  font-family: "Passion One", serif;
  font-weight: 300;
}

nav.main {
  flex: 2;
  display: flex;
  align-items: center;
}
nav.main ul li {
  margin-right: 0.34rem;
  display: inline-block;
}
nav.main ul li:first-of-type {
  margin-left: inherit;
}
nav.main a {
  font-size: 0.85rem;
  color: inherit;
}
nav.main a:hover {
  text-decoration: underline;
  -webkit-text-decoration-color: #fc575e;
          text-decoration-color: #fc575e;
}
nav.main a:visited {
  color: inherit;
}

.right {
  flex: 1;
  display: flex;
  text-align: right;
  justify-content: center;
  align-items: center;
}
.right div {
  flex: 1;
  padding-right: 0.34rem;
}

main {
  padding: 1rem;
}
main .title {
  padding: 0 0 1rem 0;
  font-size: 2rem;
  color: #fc575e;
  width: 100%;
  clear: both;
}
main .content {
  display: flex;
  flex-direction: row;
}
