@import url(https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,700;1,300;1,700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Inter:wght@300;700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Passion+One&display=swap);
/* BRANDING */
html, body {
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
}

body {
  font-family: "Inter", sans-serif;
  font-weight: 300;
  font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
}

input,
textarea {
  width: 100%;
  border: none;
  border-bottom: solid 1px #2d3748;
}

button,
a.button {
  margin: 0;
  padding: 0.34rem;
  border-radius: 0.34rem;
  display: inline-block;
  border: none;
  background: #dadada;
  font-size: 1rem;
  font-weight: 300;
  color: #333;
}
button.primary,
a.button.primary {
  background: #4a5568;
  color: white;
}

a.button {
  text-decoration: none;
}

label {
  font-weight: 700;
}

.control {
  padding: 0.8rem 0;
  font-family: "Roboto", sans-serif;
}
.control .error {
  padding: 0.2rem 0 0.4rem 0;
  font-size: 0.7rem;
  color: red;
}

.actions {
  padding-top: 0.8rem;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: #333;
}

.brand {
  font-family: "Passion One", sans-serif;
  font-weight: 400;
}

.inner {
  display: flex;
  align-items: center;
  justify-content: center;
}
.inner .col {
  margin-right: 30px;
}
.inner .col:last-of-type {
  margin-right: initial;
}
